body{
    font-family: 'Coiny', cursive;
}
.menu{
    font-size: 1.2em;
    float: left;
    width: 25%;
    background-color: grey;
}
a:link{
    color:black;
}
a:visited{
    color: black;
}
ul {
    list-style-type: none;
    background-color: grey;
}
h1 {
    font-family: 'Courgette', cursive;
}
.golyoszoveg{
    font-size: 1.35em;
}
.lap{
    float: right;
    width: 70%;
    background-color: white;
}
#zoldlottokor {
  height:312px;
  width:312px;
  background-size:27.35em;
    background-image: url(https://github.com/green-fox-academy/http-info-syllabus/blob/master/assets/hatter.jpg?raw=true);
}

#leggyakoribb1 {
    width: 33px;
    height: 33px;
}

#leggyakoribb2 {
    width: 33px;
    height: 33px;
}

#leggyakoribb3 {
    width: 33px;
    height: 33px;
}

