body{
    font-family: 'Coiny', cursive;
}
.menu{
    font-size: 20px;
    float: left;
    width: 50%;
}
a:link{
    color:black;
}
a:visited{
    color: black;
}
ul {
    list-style-type: none;
}
h1 {
    font-family: 'Courgette', cursive;
}
.golyoszoveg{
    font-size: 30px;
}