body{
    column-count: 2;
    font-family: 'Coiny', cursive;
}
.menu{
    font-size: 20px;
}
a:link{
    color:black;
}
a:visited{
    color: black;
}
#lap{
}
ul {
    list-style-type: none;
}
h1 {
    font-family: 'Courgette', cursive;
}